.pet-item {
  width: 350px;
  border: 2px solid #cdd9c4;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(76, 175, 80, 0.2);
  background-color: #ffffffd6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  height: 500px;
}

.pet-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(76, 175, 80, 0.3);
}

.card-img-top {
  padding: 15px;
  border-radius: 10px;
}
.card-img-top-single {
  height: 200px;
  object-fit: cover;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #8ac44a;
  width: 100%;
}

.card-body-detail {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4caf50;
}

.shelter-info {
  margin-top: -8px;
  font-style: italic;
  color: #6a9c61;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0px;
}

.pet-details {
  font-size: 0.9rem;
  color: #5a5a5a;
}

.card-text-detail {
  color: #5a5a5a;
  padding: 10px;
  font-size: 0.9rem;
  line-height: 1.5;
  height: 75px; /* Altura fija para mantener la estética */
  overflow: hidden; /* Ocultar el texto que sobrepase */
  text-overflow: ellipsis; /* Mostrar los "..." al final */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word; /* Para cortar palabras largas */
  padding-right: 10px; /* Espacio adicional para que no corte en seco */
  margin-bottom: 7px;
}

.match {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: #e1f0d2;
}

.match button {
  background-color: #8ac44a;
  color: #ffffff;
  border-radius: 20px;
  padding: 5px 15px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
  border: none;
}

.match button:hover {
  background-color: #45a049;
}

.match .no-match {
  background-color: #ff0013b8;
}

.match .no-match:hover {
  background-color: #d32f2f;
}

.carousel-detail-btn {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  color: #8ac44a;
  border: none;
  padding: 5px 15px;
  border-radius: 50%;
  font-size: 1.3rem;
  transition: background 0.3s;
}

.carousel-detail-btn.left {
  left: 10px;
}

.carousel-detail-btn.right {
  right: 10px;
}

.carousel-detail-btn:hover {
  color: #8ac44a;
  background-color: rgba(83, 83, 83, 0.9);
}

.urgent-message {
  margin: 0;
  color: #f95e51;
}

.pet-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.pet-item.shelter-style {
  height: 440px;
}
